# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite Database
database/database.db

# Uploaded Images
static/uploads/

# Generated PDFs
*.pdf

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/